.main_chat
  .top_bar
    .group_bar
      .groupName
        = @group.name
        .memberList
          .putMember member:
          %ul.userName
            - @group.users.each do |user|
              %li.names
              = user.name

    .edit_button 
      =link_to edit_group_path(@group), class: "editor" do
        Edit
  .chat_bar
    = render @messages
  .bottom_bar
    = form_with model: [@group, @message], html: {class: "post_zone"}, local: true do |f|
      .type_Zone
        = f.text_field :content, class: 'textField', placeholder: 'type a message'
        = f.label :image, class: 'image_attachment' do
          = icon('far', 'image', class: 'Form_icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'submit_btn'